<div class="card-header d-flex justify-content-between">
  <span class="card-title">
  <h3><b>Todo Lists</h3></b>
  </span>
  <span class="card-title">
  <%= link_to new_todo_list_path, class:"btn btn-sm btn-info" do %>
      <i class="fa fa-plus text-light"> </i>
  <% end %>
  </span>
</div>

<ul class="list-group">
    <% @todo_lists.each do |todo_list| %>
      <li class="list-group-item">
        <%= link_to todo_list.title, todo_list %>
      </li>
    <% end %>
</ul>


